{% INCLUDE 'overall_header.html' %}

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

{% if S_ADD %}

<h1>{{ lang('PPDE_MT_TITLE') }}</h1>
<p>{{ lang('PPDE_MT_TITLE_EXPLAIN') }}</p>
<p><strong>{{ lang('PPDE_MT_REQUIRED_CHARACTER') }}</strong> {{ lang('PPDE_MT_REQUIRED_EXPLAIN') }}</p>

{% if S_ERROR %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

<form id="manual_transaction" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('PPDE_MT_DETAILS') }}</legend>
		<dl>
			<dt><label for="username">{{ lang('PPDE_MT_USERNAME') ~ lang('PPDE_MT_REQUIRED_CHARACTER') ~ lang('COLON') }}</label><br><span>{{ lang('PPDE_MT_USERNAME_EXPLAIN') }}</span></dt>
			<dd><input type="text" class="medium" id="username" name="username" value="{{ MT_USERNAME }}"></dd>
			<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
			<dd><label for="anonymous"><input type="checkbox" class="checkbox" id="anonymous" name="u" value="{{ ANONYMOUS_USER_ID }}"{{ MT_ANONYMOUS ? ' checked' }}> {{ lang('SELECT_ANONYMOUS') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="first_name">{{ lang('PPDE_MT_FIRST_NAME') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" class="medium" id="first_name" name="first_name" value="{{ MT_FIRST_NAME }}" maxlength="64"></dd>
		</dl>
		<dl>
			<dt><label for="last_name">{{ lang('PPDE_MT_LAST_NAME') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" class="medium" id="last_name" name="last_name" value="{{ MT_LAST_NAME }}" maxlength="64"></dd>
		</dl>
		<dl>
			<dt><label for="payer_email">{{ lang('PPDE_MT_PAYER_EMAIL') ~ lang('COLON') }}</label></dt>
			<dd><input type="text" class="medium" id="payer_email" name="payer_email" value="{{ MT_PAYER_EMAIL }}" maxlength="127"></dd>
		</dl>
		<dl>
			<dt><label for="residence_country">{{ lang('PPDE_MT_RESIDENCE_COUNTRY') ~ lang('COLON') }}</label><br><span>{{ lang('PPDE_MT_RESIDENCE_COUNTRY_EXPLAIN') }}</span></dt>
			<dd><input type="text" class="tiny" id="residence_country" name="residence_country" value="{{ MT_RESIDENCE_COUNTRY }}" maxlength="2"></dd>
		</dl>
		<hr>
		<dl>
			<dt><label for="mc_gross">{{ lang('PPDE_MT_TOTAL_AMOUNT') ~ lang('PPDE_MT_REQUIRED_CHARACTER') ~ lang('COLON') }}</label><br><span>{{ lang('PPDE_DECIMAL_EXPLAIN') }}</span></dt>
			<dd>
				<input type="text" class="narrow" id="mc_gross" name="mc_gross" value="{{ MT_MC_GROSS }}">
				<select id="mc_currency" name="mc_currency">
					{% for options in loops.options %}
					<option value="{{ options.CURRENCY_ISO_CODE }}"{% if (MT_MC_CURRENCY == options.CURRENCY_ISO_CODE) or (not MT_MC_CURRENCY and options.S_CURRENCY_DEFAULT) %} selected{% endif %}>{{ options.CURRENCY_ISO_CODE }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="mc_fee">{{ lang('PPDE_MT_FEE_AMOUNT') ~ lang('COLON') }}</label><br><span>{{ lang('PPDE_DECIMAL_EXPLAIN') }}</span></dt>
			<dd><input type="text" class="narrow" id="mc_fee" name="mc_fee" value="{{ MT_MC_FEE }}"> <span id="mc_fee_currency"></span></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('PPDE_MT_NET_AMOUNT') ~ lang('COLON') }}</label></dt>
			<dd><span id="net_amount"></span> <span id="net_amount_currency"></span></dd>
		</dl>
		<hr>
		<dl>
			<dt><label for="payment_date_year">{{ lang('PPDE_MT_PAYMENT_DATE') ~ lang('PPDE_MT_REQUIRED_CHARACTER') ~ lang('COLON') }}</label></dt>
			<dd>
				<span class="date-fields-container">
					<span>{{ lang('YEAR') ~ lang('COLON') }}</span> <input type="text" class="tiny" id="payment_date_year" name="payment_date_year" value="{{ MT_PAYMENT_DATE_YEAR }}">
					<span>{{ lang('MONTH') ~ lang('COLON') }}</span> <input type="text" class="tiny" id="payment_date_month" name="payment_date_month" value="{{ MT_PAYMENT_DATE_MONTH }}">
					<span>{{ lang('DAY') ~ lang('COLON') }}</span> <input type="text" class="tiny" id="payment_date_day" name="payment_date_day" value="{{ MT_PAYMENT_DATE_DAY }}">
				</span>
				<span class="date-calendar-container" data-language="{{ lang('PPDE_MT_DATEPICKER_LANG') }}" title="{{ lang('PPDE_MT_PAYMENT_DATE_PICK') }}">
					<i class="icon fa fa-fw fa-calendar" aria-hidden="true"></i><span class="sr-only">{{ lang('PPDE_MT_PAYMENT_DATE_PICK') }}</span> <span class="date-calendar-value"></span>
				</span>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="payment_time">{{ lang('PPDE_MT_PAYMENT_TIME') ~ lang('PPDE_MT_REQUIRED_CHARACTER') ~ lang('COLON') }}</label>
				<br><span>{{ lang('PPDE_MT_PAYMENT_TIME_EXPLAIN') ~ lang('COLON') }} {{ PAYMENT_TIME_FORMATS | join(lang('COMMA_SEPARATOR')) }}</span>
			</dt>
			<dd><input type="text" class="narrow" id="payment_time" name="payment_time" value="{{ MT_PAYMENT_TIME }}"></dd>
		</dl>
		<dl>
			<dt><label for="memo">{{ lang('PPDE_MT_MEMO') ~ lang('COLON') }}</label></dt>
			<dd><textarea id="memo" class="medium" name="memo" rows="5" maxlength="255">{{ MT_MEMO }}</textarea></dd>
		</dl>
	</fieldset>

	<fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">&nbsp;
			<input type="hidden" name="add" value="1">
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>

{% INCLUDECSS '@skouat_ppde/css/datepicker.min.css' %}
{% INCLUDEJS '@skouat_ppde/js/datepicker.min.js' %}
{% INCLUDEJS '@skouat_ppde/js/datepicker.i18n/datepicker.' ~ lang('PPDE_MT_DATEPICKER_LANG') ~ '.js' %}

{% INCLUDECSS '@skouat_ppde/css/manual_transaction.css' %}
{% INCLUDEJS '@skouat_ppde/js/manual_transaction.js' %}

{% else %}

<h1>{{ lang('PPDE_DT_CONFIG') }}</h1>
<p>{{ lang('PPDE_DT_CONFIG_EXPLAIN') }}</p>

{% if S_VIEW %}
<form id="view_transactions" method="post" action="{{ U_ACTION }}">
	{% if S_ERROR %}
	{% if S_ERROR_APPROVED %}
	<div class="successbox">
		<h3><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #fca600;"></i>&nbsp;{{ lang('PPDE_DT_IPN_APPROVED') }}</h3>

		<p>{{ lang('PPDE_DT_IPN_APPROVED_EXPLAIN') }}{{ lang('COLON') }}</p>
		<p>{{ ERROR_MSG }}</p>
	</div>
	{% else %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>

		<p>{{ lang('PPDE_DT_IPN_ERRORS') }}{{ lang('COLON') }}</p>
		<p>{{ ERROR_MSG }}</p>
	</div>
	{% endif %}
	{% endif %}

	<fieldset>
		<legend>{{ lang('PPDE_DT_DETAILS') }}</legend>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_TXN_ID') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ TXN_ID }}</dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_BOARD_USERNAME') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ BOARD_USERNAME }}</dd>
		</dl>
		<dl>
			<dt><label for="username" style="font-weight: bold">{{ lang('PPDE_DT_CHANGE_BOARD_USERNAME') }}{{ lang('COLON') }}</label><br>{{ lang('PPDE_DT_CHANGE_BOARD_USERNAME_EXPLAIN') }}</dt>
			<dd><input type="text" class="medium" id="username" name="username" value="{{ MT_USERNAME }}"></dd>
			<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
			<dd><label for="anonymous"><input type="checkbox" class="checkbox" id="anonymous" name="u" value="{{ ANONYMOUS_USER_ID }}"{{ MT_ANONYMOUS ? ' checked' }}> {{ lang('SELECT_ANONYMOUS') }}</label></dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_NAME') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ NAME }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYER_EMAIL') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ PAYER_EMAIL }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYER_ID') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ PAYER_ID }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYER_STATUS') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ PAYER_STATUS }}</dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_RECEIVER_EMAIL') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ RECEIVER_EMAIL }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_RECEIVER_ID') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ RECEIVER_ID }}</dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_TOTAL_AMOUNT') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ MC_GROSS }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_FEE_AMOUNT') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ MC_FEE }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_NET_AMOUNT') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ MC_NET }}</dd>
		</dl>
		{% if S_CONVERT %}
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_SETTLE_AMOUNT') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ SETTLE_AMOUNT }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_EXCHANGE_RATE') }}{{ lang('COLON') }}</span><br>{{ lang('PPDE_DT_EXCHANGE_RATE_EXPLAIN') }}</dt>
			<dd>{{ EXCHANGE_RATE }}</dd>
		</dl>
		{% endif %}
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_ITEM_NAME') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ ITEM_NAME }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_ITEM_NUMBER') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ ITEM_NUMBER }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYMENT_DATE') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ PAYMENT_DATE }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYMENT_STATUS') }}{{ lang('COLON') }}</span></dt>
			<dd>{{ PAYMENT_STATUS }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_MEMO') }}{{ lang('COLON') }}</span><br>{{ lang('PPDE_DT_MEMO_EXPLAIN') }}</dt>
			<dd>{{ MEMO }}</dd>
		</dl>
	</fieldset>

	<fieldset>
		<p class="submit-buttons">
			{{ S_HIDDEN_FIELDS }}
			{% if S_ERROR %}
			<input class="button1" type="submit" name="approve" value="{% if S_ERROR_APPROVED %}{{ lang('PPDE_DT_DISAPPROVE') }}{% else %}{{ lang('PPDE_DT_APPROVE') }}{% endif %}">&nbsp;
			{% endif %}
			<input class="button1" type="submit" id="change" name="change" value="{{ lang('SUBMIT') }}">&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">&nbsp;
			<input class="button2" type="submit" name="back" value="{{ lang('BACK') }}">
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>
{% else %}
<form id="ppde_transactions" method="post" action="{{ U_ACTION }}">
	<fieldset class="display-options search-box">
		{{ lang('SEARCH_KEYWORDS') }}{{ lang('COLON') }} <input type="text" name="keywords" value="{{ S_KEYWORDS }}">&nbsp;<input type="submit" class="button2" name="filter" value="{{ lang('SEARCH') }}">
	</fieldset>

	{% if loops.log|length %}

	{% if loops.pagination|length %}
	<div class="pagination top-pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
	{% endif %}

	<table class="table1 zebra-table fixed-width-table">
		<thead>
		<tr>
			<th>{{ lang('PPDE_DT_TXN_ID') }}</th>
			<th>{{ lang('PPDE_DT_USERNAME') }}</th>
			<th>{{ lang('PPDE_DT_IPN_STATUS') }}</th>
			<th>{{ lang('PPDE_DT_PAYMENT_STATUS') }}</th>
			<th>{{ lang('PPDE_DT_PAYMENT_DATE') }}</th>
			{% if S_CLEARLOGS %}
			<th style="width: 50px;">{{ lang('MARK') }}</th>
			{% endif %}
		</tr>
		</thead>
		<tbody>
		{% for log in loops.log %}
		<tr>
			<td>{{ log.TNX_ID }}{% if log.S_TXN_ERRORS %}&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #FF0000;"></i>{% endif %}</td>
			<td>{{ log.USERNAME }}</td>
			<td{% if not log.S_CONFIRMED %} style="color: #FF0000;"{% endif %}>{{ log.CONFIRMED }}{% if log.S_TEST_IPN %}&nbsp;({{ lang('PPDE_DT_IPN_TEST') }}){% endif %}</td>
			<td{% if not log.S_PAYMENT_STATUS %} style="color: #FF0000;"{% endif %}>{{ log.PAYMENT_STATUS }}</td>
			<td style="text-align: center;">{{ log.DATE }}</td>
			{% if S_CLEARLOGS %}
			<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{{ log.ID }}" title="{{ log.ID }}"></td>
			{% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if loops.pagination|length %}
	<div class="pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
	{% endif %}

	{% else %}
	<div class="errorbox">
		<p>{{ lang('NO_ENTRIES') }}</p>
	</div>
	{% endif %}

	<fieldset class="display-options">
		{{ lang('DISPLAY_LOG') }}{{ lang('COLON') }} &nbsp;{{ S_LIMIT_DAYS }}&nbsp;{{ lang('SORT_BY') }}{{ lang('COLON') }} {{ S_SORT_KEY }} {{ S_SORT_DIR }}
		<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort">
		{{ S_FORM_TOKEN }}
	</fieldset>

	<hr>

	{% if loops.log|length and S_CLEARLOGS %}
	<fieldset class="quick">
		<input class="button2" type="submit" name="add" value="{{ lang('ADD') }}">&nbsp;
		<input class="button2" type="submit" name="delall" value="{{ lang('DELETE_ALL') }}">&nbsp;
		<input class="button2" type="submit" name="delmarked" value="{{ lang('DELETE_MARKED') }}"><br>
		<p class="small"><a href="#" onclick="marklist('ppde_transactions', 'mark', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('ppde_transactions', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
	{% else %}
	<fieldset class="quick">
		<input class="button2" type="submit" name="add" value="{{ lang('ADD') }}">
	</fieldset>
	{% endif %}
</form>
{% endif %}
{% endif %}

{% INCLUDE 'overall_footer.html' %}
