{% INCLUDE 'overall_header.html' %}

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

{% if S_ADD %}
	{% INCLUDE '@skouat_ppde/ppde_transactions_add.html' %}
{% else %}

<h1>{{ lang('PPDE_DT_CONFIG') }}</h1>
<p>{{ lang('PPDE_DT_CONFIG_EXPLAIN') }}</p>

{% if S_VIEW %}
<form id="view_transactions" method="post" action="{{ U_ACTION }}">
	{% if S_ERROR_APPROVED %}
	<div class="successbox">
		<h3><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #fca600;"></i>&nbsp;{{ lang('PPDE_DT_IPN_APPROVED') }}</h3>

		<p>{{ lang('PPDE_DT_IPN_APPROVED_EXPLAIN') ~ lang('COLON') }}</p>
		<p>{{ ERROR_MSG }}</p>
	</div>
	{% elseif S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>

		<p>{{ lang('PPDE_DT_IPN_ERRORS') ~ lang('COLON') }}</p>
		<p>{{ ERROR_MSG }}</p>
	</div>
	{% endif %}

	<fieldset>
		<legend>{{ lang('PPDE_DT_DETAILS') }}</legend>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_TXN_ID') ~ lang('COLON') }}</span></dt>
			<dd>{{ TXN_ID }}</dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_BOARD_USERNAME') ~ lang('COLON') }}</span></dt>
			<dd>{{ BOARD_USERNAME }}</dd>
		</dl>
		<dl>
			<dt><label for="username" style="font-weight: bold">{{ lang('PPDE_DT_CHANGE_BOARD_USERNAME') ~ lang('COLON') }}</label><br>{{ lang('PPDE_DT_CHANGE_BOARD_USERNAME_EXPLAIN') }}</dt>
			<dd><input type="text" class="medium" id="username" name="username" value="{{ MT_USERNAME }}"></dd>
			<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
			<dd><label for="anonymous"><input type="checkbox" class="checkbox" id="anonymous" name="u" value="{{ ANONYMOUS_USER_ID }}"{{ MT_ANONYMOUS ? ' checked' }}> {{ lang('SELECT_ANONYMOUS') }}</label></dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_NAME') ~ lang('COLON') }}</span></dt>
			<dd>{{ NAME }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYER_EMAIL') ~ lang('COLON') }}</span></dt>
			<dd>{{ PAYER_EMAIL }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYER_ID') ~ lang('COLON') }}</span></dt>
			<dd>{{ PAYER_ID }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYER_STATUS') ~ lang('COLON') }}</span></dt>
			<dd>{{ PAYER_STATUS }}</dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_RECEIVER_EMAIL') ~ lang('COLON') }}</span></dt>
			<dd>{{ RECEIVER_EMAIL }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_RECEIVER_ID') ~ lang('COLON') }}</span></dt>
			<dd>{{ RECEIVER_ID }}</dd>
		</dl>
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_TOTAL_AMOUNT') ~ lang('COLON') }}</span></dt>
			<dd>{{ MC_GROSS }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_FEE_AMOUNT') ~ lang('COLON') }}</span></dt>
			<dd>{{ MC_FEE }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_NET_AMOUNT') ~ lang('COLON') }}</span></dt>
			<dd>{{ MC_NET }}</dd>
		</dl>
		{% if S_CONVERT %}
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_SETTLE_AMOUNT') ~ lang('COLON') }}</span></dt>
			<dd>{{ SETTLE_AMOUNT }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_EXCHANGE_RATE') ~ lang('COLON') }}</span><br>{{ lang('PPDE_DT_EXCHANGE_RATE_EXPLAIN') }}</dt>
			<dd>{{ EXCHANGE_RATE }}</dd>
		</dl>
		{% endif %}
		<hr>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_ITEM_NAME') ~ lang('COLON') }}</span></dt>
			<dd>{{ ITEM_NAME }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_ITEM_NUMBER') ~ lang('COLON') }}</span></dt>
			<dd>{{ ITEM_NUMBER }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYMENT_DATE') ~ lang('COLON') }}</span></dt>
			<dd>{{ PAYMENT_DATE }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_PAYMENT_STATUS') ~ lang('COLON') }}</span></dt>
			<dd>{{ PAYMENT_STATUS }}</dd>
		</dl>
		<dl>
			<dt><span style="font-weight: bold">{{ lang('PPDE_DT_MEMO') ~ lang('COLON') }}</span><br>{{ lang('PPDE_DT_MEMO_EXPLAIN') }}</dt>
			<dd>{{ MEMO }}</dd>
		</dl>
	</fieldset>

	<fieldset>
		<p class="submit-buttons">
			{{ S_HIDDEN_FIELDS }}
			{% if S_ERROR %}
			<input class="button1" type="submit" name="approve" value="{% if S_ERROR_APPROVED %}{{ lang('PPDE_DT_DISAPPROVE') }}{% else %}{{ lang('PPDE_DT_APPROVE') }}{% endif %}">&nbsp;
			{% endif %}
			<input class="button1" type="submit" id="change" name="change" value="{{ lang('SUBMIT') }}">&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">&nbsp;
			<input class="button2" type="submit" name="back" value="{{ lang('BACK') }}">
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>
{% else %}
<form id="ppde_transactions" method="post" action="{{ U_ACTION }}">
	<fieldset class="display-options search-box">
		{{ lang('SEARCH_KEYWORDS') ~ lang('COLON') }} <input type="text" name="keywords" value="{{ S_KEYWORDS }}">&nbsp;<input type="submit" class="button2" name="filter" value="{{ lang('SEARCH') }}">
	</fieldset>

	{% if loops.log|length %}

	{% if loops.pagination|length %}
	<div class="pagination top-pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
	{% endif %}

	<table class="table1 zebra-table fixed-width-table">
		<thead>
		<tr>
			<th>{{ lang('PPDE_DT_TXN_ID') }}</th>
			<th>{{ lang('PPDE_DT_USERNAME') }}</th>
			<th>{{ lang('PPDE_DT_IPN_STATUS') }}</th>
			<th>{{ lang('PPDE_DT_PAYMENT_STATUS') }}</th>
			<th>{{ lang('PPDE_DT_PAYMENT_DATE') }}</th>
			{% if S_CLEARLOGS %}
			<th style="width: 50px;">{{ lang('MARK') }}</th>
			{% endif %}
		</tr>
		</thead>
		<tbody>
		{% for log in loops.log %}
		<tr>
			<td>{{ log.TXN_ID }}{% if log.S_TXN_ERRORS %}&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #FF0000;"></i>{% endif %}</td>
			<td>{{ log.USERNAME }}</td>
			<td{% if not log.S_CONFIRMED %} style="color: #FF0000;"{% endif %}>{{ log.CONFIRMED }}{% if log.S_TEST_IPN %}&nbsp;({{ lang('PPDE_DT_IPN_TEST') }}){% endif %}</td>
			<td{% if not log.S_PAYMENT_STATUS %} style="color: #FF0000;"{% endif %}>{{ log.PAYMENT_STATUS }}</td>
			<td style="text-align: center;">{{ log.DATE }}</td>
			{% if S_CLEARLOGS %}
			<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{{ log.ID }}" title="{{ log.ID }}"></td>
			{% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if loops.pagination|length %}
	<div class="pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
	{% endif %}

	{% else %}
	<div class="errorbox">
		<p>{{ lang('NO_ENTRIES') }}</p>
	</div>
	{% endif %}

	<fieldset class="display-options">
		{{ lang('DISPLAY_LOG') ~ lang('COLON') }} &nbsp;{{ S_LIMIT_DAYS }}&nbsp;{{ lang('SORT_BY') ~ lang('COLON') }} {{ S_SORT_KEY }} {{ S_SORT_DIR }}
		<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort">
		{{ S_FORM_TOKEN }}
	</fieldset>

	<hr>

	{% if loops.log|length and S_CLEARLOGS %}
	<fieldset class="quick">
		<input class="button2" type="submit" name="add" value="{{ lang('ADD') }}">&nbsp;
		<input class="button2" type="submit" name="delall" value="{{ lang('DELETE_ALL') }}">&nbsp;
		<input class="button2" type="submit" name="delmarked" value="{{ lang('DELETE_MARKED') }}"><br>
		<p class="small"><a href="#" onclick="marklist('ppde_transactions', 'mark', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('ppde_transactions', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
	{% else %}
	<fieldset class="quick">
		<input class="button2" type="submit" name="add" value="{{ lang('ADD') }}">
	</fieldset>
	{% endif %}
</form>
{% endif %}
{% endif %}

{% INCLUDE 'overall_footer.html' %}
