{% INCLUDE 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('PPDE_DP_CONFIG') }}</h1>
<p>{{ lang('PPDE_DP_CONFIG_EXPLAIN') }}</p>

{% if S_ADD_EDIT %}
<script type="text/javascript">
	// <![CDATA[

	var form_name = 'add_edit_donation_pages';
	var text_name = 'page_content';
	var load_draft = false;
	var upload = false;
	var imageTag = false;

	// ]]>
</script>

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

{% if S_ERROR %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>

	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

{% if S_PPDE_DP_PREVIEW %}
<fieldset>
	<legend>{{ lang('PREVIEW') }}</legend>
	<p>{{ PPDE_DP_PREVIEW }}</p>
</fieldset>
{% endif %}

<form id="add_edit_donation_pages" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('DONATION_PAGES_TITLE') }}</legend>
		<p>{{ lang('DONATION_PAGES_TITLE_EXPLAIN') }}</p>
		{% if S_BBCODE_ALLOWED %}
		<dl class="responsive-columns">
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px;">{% INCLUDE 'acp_posting_buttons.html' %}</dd>
		</dl>
		{% endif %}
		<dl class="responsive-columns">
			<dt style="width: 90px;"><label for="lang_id">{{ lang('PPDE_DP_LANG') }}</label></dt>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px;">
				<select id="lang_id" name="lang_id">
					<option value="">{{ lang('PPDE_DP_LANG_SELECT') }}</option>
					{% for ppde_langs in loops.ppde_langs %}
					<option value="{{ ppde_langs.VALUE }}"{% if ppde_langs.S_SELECTED %} selected{% endif %}>{{ ppde_langs.LANG_LOCAL_NAME }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
		<dl class="responsive-columns">
			<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-height="12" data-width="15" data-bbcode="true"></dt>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px;">
				<label><textarea name="page_content" rows="10" cols="60" style="width: 95%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true">{{ DONATION_BODY }}</textarea></label>
			</dd>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 5px;">
				{% if S_SMILIES_ALLOWED and loops.smiley|length %}
				<label><strong>{{ lang('SMILIES') }}</strong><br>
					{% for smiley in loops.smiley %}
					<a href="#" onclick="insert_text('{{ smiley.A_SMILEY_CODE }}', true); return false;"><img src="{{ smiley.SMILEY_IMG }}" width="{{ smiley.SMILEY_WIDTH }}" height="{{ smiley.SMILEY_HEIGHT }}" alt="{{ smiley.SMILEY_CODE }}" title="{{ smiley.SMILEY_DESC }}"></a>
					{% endfor %}
					{% if S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED %}
					<br><a href="{{ U_MORE_SMILIES }}" onclick="popup(this.href, 750, 350, '_phpbbsmilies'); return false;">{{ lang('MORE_SMILIES') }}</a>
					{% endif %}
				</label>
				{% endif %}
			</dd>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 10px;"><strong>{{ lang('OPTIONS') ~ lang('COLON') }} </strong>{{ BBCODE_STATUS }} :: {{ IMG_STATUS }} :: {{ FLASH_STATUS }} :: {{ URL_STATUS }} :: {{ SMILIES_STATUS }}</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		{{ S_HIDDEN_FIELDS }}
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="submit" id="preview" name="preview" value="{{ lang('PREVIEW') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>

	<table class="table1 responsive">
		<caption>{{ lang('PPDE_DP_PREDEFINED_VARS') }}</caption>
		<colgroup>
			<col class="col1"><col class="col2"><col class="col1">
		</colgroup>
		<thead>
		<tr>
			<th>{{ lang('PPDE_DP_VAR_NAME') }}</th>
			<th>{{ lang('PPDE_DP_VAR_VAR') }}</th>
			<th>{{ lang('PPDE_DP_VAR_EXAMPLE') }}</th>
		</tr>
		</thead>

		<tbody>
		{% for dp_vars in loops.dp_vars %}
		<tr>
			<td>{{ dp_vars.NAME }}</td>
			<td><a href="#" onclick="insert_text('{{ dp_vars.VARIABLE|escape('js') }}'); return false;"><strong>{{ dp_vars.VARIABLE }}</strong></a></td>
			<td><strong><em>{{ dp_vars.EXAMPLE }}</em></strong></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</form>
{% else %}
<form id="acp_donation_pages" method="post" action="{{ U_ACTION }}">
	<table class="table1 zebra-table">
		<colgroup>
			<col class="row1"><col class="row1"><col class="row2"><col class="row2">
		</colgroup>
		<thead>
		<tr>
			<th>{{ lang('PPDE_DP_PAGE') }}</th>
			<th style="width: 15%;">{{ lang('PPDE_DP_LANG') }}</th>
			<th style="width: 10%;">{{ lang('ACTION') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for ppde_langs in loops.ppde_langs %}
			<tr>
				<td class="row3" colspan="3">{{ ppde_langs.LANG_LOCAL_NAME }}</td>
			</tr>
			{% for dp_list in ppde_langs.dp_list %}
			{% if langs.dp_list.S_ROW_COUNT is even %}<tr class="row1">{% else %}<tr class="row2">{% endif %}
				<td><a href="{{ dp_list.U_EDIT }}">{{ dp_list.DONATION_PAGE_TITLE }}</a></td>
				<td>{{ dp_list.DONATION_PAGE_LANG }}</td>
				<td>
					<a href="{{ dp_list.U_EDIT }}">{{ ICON_EDIT }}</a>
					<a href="{{ dp_list.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
				</td>
			</tr>
			{% else %}
			<tr>
				<td style="text-align: center;" colspan="3">{{ lang('ACP_NO_ITEMS') }}</td>
			</tr>
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
	<fieldset class="quick">
		<select id="page_title" name="page_title" title="{{ lang('PPDE_DP_PAGE') }}">
			<option value="donation_body" selected="selected">{{ lang('DONATION_BODY') }}</option>
			<option value="donation_success">{{ lang('DONATION_SUCCESS') }}</option>
			<option value="donation_cancel">{{ lang('DONATION_CANCEL') }}</option>
		</select>
		<input type="hidden" name="action" value="add">
		<input class="button1" type="submit" name="add" value="{{ lang('ADD') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

<div class="clearfix">&nbsp;</div><br style="clear: both;">
{% endif %}

{% INCLUDE 'overall_footer.html' %}
