/* PayPal Donation
---------------------------------------- */

/* PayPal Button */
#paypalbutton input {
    background: #fffdf8;
    background: -moz-linear-gradient(top, #fffdf8 0%, #fede9e 49%, #ffaf34 50%, #ffeed3 100%);
    background: -o-linear-gradient(top, #fffdf8 0%, #fede9e 49%, #ffaf34 50%, #ffeed3 100%);
    background: -webkit-linear-gradient(top, #fffdf8 0%, #fede9e 49%, #ffaf34 50%, #ffeed3 100%);
    background: linear-gradient(to bottom, #fffdf8 0%, #fede9e 49%, #ffaf34 50%, #ffeed3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf8', endColorstr='#ffeed3', GradientType=0);
    border-radius: 13px;
    border: 1px solid #ff9933;
    box-shadow: 0 2px 0 rgba(109, 109, 109, .3);
    color: #294669;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    height: 26px;
    padding: 0 12px;
}

/* PayPal loader */
.spinner.loading {
    display: none;
    padding: 7px 0 6px;
}

.spinner.loading:before {
    content: "";
    height: 20px;
    width: 20px;
    margin: -8px 0 0 -35px;
    position: absolute;
    border: 4px solid #ccc;
    border-top-color: #2180c0;
    border-radius: 100%;
    -webkit-animation: paypal_loader 1s infinite;
    -moz-animation: paypal_loader 1s infinite;
    -o-animation: paypal_loader 1s infinite;
    animation: paypal_loader 1s infinite;
}

@-webkit-keyframes paypal_loader {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes paypal_loader {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes paypal_loader {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);

    }
}

@keyframes paypal_loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);

    }
}

/* Progress bar */
.progress {
    height: 26px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.progress-value {
    background: #cadceb;
    border-radius: 14px;
    color: #105289;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin-right: 6px;
    padding: 0 12px;
    text-align: center;
    width: 62px;
}

.progress-grey {
    background: #333333;
    background: -moz-linear-gradient(top, #333333 0%, #666666 100%);
    background: -o-linear-gradient(top, #333333 0%, #666666 100%);
    background: -webkit-linear-gradient(top, #333333 0%, #666666 100%);
    background: linear-gradient(to bottom, #333333 0%, #666666 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666', GradientType=0);
    border-radius: 13px;
    -webkit-box-shadow: 0 2px 0 rgba(109, 109, 109, .3);
    box-shadow: 0 2px 0 rgba(109, 109, 109, .3);
    height: 26px;
    overflow: hidden;
}

.prog-color {
    border-radius: 13px;
    height: 26px;
    overflow: hidden;
    position: relative;
    box-shadow:
            inset 0 10px 10px rgba(255, 255, 255, 0.3),
            inset 0 -10px 10px rgba(0, 0, 0, 0.5);
}

.prog-color:before {
    background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    background-size: 26px 26px;
    content: "";
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.ten {
    background: #ff4f4f;
    background: -moz-linear-gradient(left, #ff4f4f 0%, #ff5e4e 100%);
    background: -o-linear-gradient(left, #ff4f4f 0%, #ff5e4e 100%);
    background: -webkit-linear-gradient(left, #ff4f4f 0%, #ff5e4e 100%);
    background: linear-gradient(to right, #ff4f4f 0%, #ff5e4e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f4f', endColorstr='#ff5e4e', GradientType=1);
}

.ten-reverse {
    background: #ff5e4e;
    background: -moz-linear-gradient(left, #ff5e4e 0%, #ff4f4f 100%);
    background: -o-linear-gradient(left, #ff5e4e 0%, #ff4f4f 100%);
    background: -webkit-linear-gradient(left, #ff5e4e 0%, #ff4f4f 100%);
    background: linear-gradient(to right, #ff5e4e 0%, #ff4f4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e4e', endColorstr='#ff4f4f', GradientType=1);
}

.twenty {
    background: #ff5e4e;
    background: -moz-linear-gradient(left, #ff5e4e 0%, #ff734d 100%);
    background: -o-linear-gradient(left, #ff5e4e 0%, #ff734d 100%);
    background: -webkit-linear-gradient(left, #ff5e4e 0%, #ff734d 100%);
    background: linear-gradient(to right, #ff5e4e 0%, #ff734d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e4e', endColorstr='#ff734d', GradientType=1);
}

.twenty-reverse {
    background: #ff734d;
    background: -moz-linear-gradient(left, #ff734d 0%, #ff5e4e 100%);
    background: -o-linear-gradient(left, #ff734d 0%, #ff5e4e 100%);
    background: -webkit-linear-gradient(left, #ff734d 0%, #ff5e4e 100%);
    background: linear-gradient(to right, #ff734d 0%, #ff5e4e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff734d', endColorstr='#ff5e4e', GradientType=1);
}

.thirty {
    background: #ff734d;
    background: -moz-linear-gradient(left, #ff734d 0%, #ff8c4d 100%);
    background: -o-linear-gradient(left, #ff734d 0%, #ff8c4d 100%);
    background: -webkit-linear-gradient(left, #ff734d 0%, #ff8c4d 100%);
    background: linear-gradient(to right, #ff734d 0%, #ff8c4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff734d', endColorstr='#ff8c4d', GradientType=1);
}

.thirty-reverse {
    background: #ff8c4d;
    background: -moz-linear-gradient(left, #ff8c4d 0%, #ff734d 100%);
    background: -o-linear-gradient(left, #ff8c4d 0%, #ff734d 100%);
    background: -webkit-linear-gradient(left, #ff8c4d 0%, #ff734d 100%);
    background: linear-gradient(to right, #ff8c4d 0%, #ff734d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c4d', endColorstr='#ff734d', GradientType=1);
}

.forty {
    background: #ff8c4d;
    background: -moz-linear-gradient(left, #ff8c4d 0%, #ffa24d 100%);
    background: -o-linear-gradient(left, #ff8c4d 0%, #ffa24d 100%);
    background: -webkit-linear-gradient(left, #ff8c4d 0%, #ffa24d 100%);
    background: linear-gradient(to right, #ff8c4d 0%, #ffa24d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c4d', endColorstr='#ffa24d', GradientType=1);
}

.forty-reverse {
    background: #ffa24d;
    background: -moz-linear-gradient(left, #ffa24d 0%, #ff8c4d 100%);
    background: -o-linear-gradient(left, #ffa24d 0%, #ff8c4d 100%);
    background: -webkit-linear-gradient(left, #ffa24d 0%, #ff8c4d 100%);
    background: linear-gradient(to right, #ffa24d 0%, #ff8c4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa24d', endColorstr='#ff8c4d', GradientType=1);
}

.fifty {
    background: #ffa24d;
    background: -moz-linear-gradient(left, #ffa24d 0%, #fdb34d 100%);
    background: -o-linear-gradient(left, #ffa24d 0%, #fdb34d 100%);
    background: -webkit-linear-gradient(left, #ffa24d 0%, #fdb34d 100%);
    background: linear-gradient(to right, #ffa24d 0%, #fdb34d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa24d', endColorstr='#fdb34d', GradientType=1);
}

.fifty-reverse {
    background: #fdb34d;
    background: -moz-linear-gradient(left, #fdb34d 0%, #ffa24d 100%);
    background: -o-linear-gradient(left, #fdb34d 0%, #ffa24d 100%);
    background: -webkit-linear-gradient(left, #fdb34d 0%, #ffa24d 100%);
    background: linear-gradient(to right, #fdb34d 0%, #ffa24d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdb34d', endColorstr='#ffa24d', GradientType=1);
}

.sixty {
    background: #fdb34d;
    background: -moz-linear-gradient(left, #fdb34d 0%, #ecbe53 100%);
    background: -o-linear-gradient(left, #fdb34d 0%, #ecbe53 100%);
    background: -webkit-linear-gradient(left, #fdb34d 0%, #ecbe53 100%);
    background: linear-gradient(to right, #fdb34d 0%, #ecbe53 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdb34d', endColorstr='#ecbe53', GradientType=1);
}

.sixty-reverse {
    background: #ecbe53;
    background: -moz-linear-gradient(left, #ecbe53 0%, #fdb34d 100%);
    background: -o-linear-gradient(left, #ecbe53 0%, #fdb34d 100%);
    background: -webkit-linear-gradient(left, #ecbe53 0%, #fdb34d 100%);
    background: linear-gradient(to right, #ecbe53 0%, #fdb34d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecbe53', endColorstr='#fdb34d', GradientType=1);
}

.seventy {
    background: #ecbe53;
    background: -moz-linear-gradient(left, #ecbe53 0%, #d3c55b 100%);
    background: -o-linear-gradient(left, #ecbe53 0%, #d3c55b 100%);
    background: -webkit-linear-gradient(left, #ecbe53 0%, #d3c55b 100%);
    background: linear-gradient(to right, #ecbe53 0%, #d3c55b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecbe53', endColorstr='#d3c55b', GradientType=1);
}

.seventy-reverse {
    background: #d3c55b;
    background: -moz-linear-gradient(left, #d3c55b 0%, #ecbe53 100%);
    background: -o-linear-gradient(left, #d3c55b 0%, #ecbe53 100%);
    background: -webkit-linear-gradient(left, #d3c55b 0%, #ecbe53 100%);
    background: linear-gradient(to right, #d3c55b 0%, #ecbe53 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3c55b', endColorstr='#ecbe53', GradientType=1);
}

.eighty {
    background: #d3c55b;
    background: -moz-linear-gradient(left, #d3c55b 0%, #b8c965 100%);
    background: -o-linear-gradient(left, #d3c55b 0%, #b8c965 100%);
    background: -webkit-linear-gradient(left, #d3c55b 0%, #b8c965 100%);
    background: linear-gradient(to right, #d3c55b 0%, #b8c965 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3c55b', endColorstr='#b8c965', GradientType=1);
}

.eighty-reverse {
    background: #b8c965;
    background: -moz-linear-gradient(left, #b8c965 0%, #d3c55b 100%);
    background: -o-linear-gradient(left, #b8c965 0%, #d3c55b 100%);
    background: -webkit-linear-gradient(left, #b8c965 0%, #d3c55b 100%);
    background: linear-gradient(to right, #b8c965 0%, #d3c55b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8c965', endColorstr='#d3c55b', GradientType=1);
}

.ninety {
    background: #b8c965;
    background: -moz-linear-gradient(left, #b8c965 0%, #9fcc6d 100%);
    background: -o-linear-gradient(left, #b8c965 0%, #9fcc6d 100%);
    background: -webkit-linear-gradient(left, #b8c965 0%, #9fcc6d 100%);
    background: linear-gradient(to right, #b8c965 0%, #9fcc6d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8c965', endColorstr='#9fcc6d', GradientType=1);
}

.ninety-reverse {
    background: #9fcc6d;
    background: -moz-linear-gradient(left, #9fcc6d 0%, #b8c965 100%);
    background: -o-linear-gradient(left, #9fcc6d 0%, #b8c965 100%);
    background: -webkit-linear-gradient(left, #9fcc6d 0%, #b8c965 100%);
    background: linear-gradient(to right, #9fcc6d 0%, #b8c965 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9fcc6d', endColorstr='#b8c965', GradientType=1);
}

.hundred {
    background: #9fcc6d;
    background: -moz-linear-gradient(left, #9fcc6d 0%, #8ecf73 100%);
    background: -o-linear-gradient(left, #9fcc6d 0%, #8ecf73 100%);
    background: -webkit-linear-gradient(left, #9fcc6d 0%, #8ecf73 100%);
    background: linear-gradient(to right, #9fcc6d 0%, #8ecf73 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9fcc6d', endColorstr='#8ecf73', GradientType=1);
}

.hundred-reverse {
    background: #8ecf73;
    background: -moz-linear-gradient(left, #8ecf73 0%, #9fcc6d 100%);
    background: -o-linear-gradient(left, #8ecf73 0%, #9fcc6d 100%);
    background: -webkit-linear-gradient(left, #8ecf73 0%, #9fcc6d 100%);
    background: linear-gradient(to right, #8ecf73 0%, #9fcc6d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ecf73', endColorstr='#9fcc6d', GradientType=1);
}

.red {
    background: #ff4f4f;
}

.green {
    background: #8ecf73;
}

/* Text donation stats */
p.donation_stats {
    margin-top: 10px;
    text-align: center;
}

/* form displaying */
div.donate_value {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* icon */
.icon-ppde-header {
    background-image: url("images/icon_donate.gif");
}

.icon-ppde-header-donorlist {
    background-image: url("images/icon_donors.gif");
}
