/* PayPal Donation
---------------------------------------- */

/* PayPal Button */
#contactpaypal, #contactpaypal input, #contactpaypal div {
    background: url("images/paypal_button.png") no-repeat;
    height: 26px;
    display: inline-block;
}

#contactpaypal input {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #294669;
    background-position: 0 -52px;
    background-repeat: repeat;
    border: 0;
    margin-left: 12px;
    padding: 0 0 2px;
}

#contactpaypal div {
    background-position: 0 -26px;
    float: right;
    height: 26px;
    width: 12px;
}

/* image loader */
fieldset.loader {
    display: none;
    height: 28px;
    vertical-align: middle;
}

#processingpaypal img {
    margin-bottom: -5px;
    padding-right: 10px;
    height: 16px;
    width: 16px;
}

/* Progress bar */
div.prog_grey {
    background: #CCCCCC url("images/prog_grey.png") repeat-x;
    border: 1px solid #000000;
    margin-top: 2px;
}

div.prog_red {
    background: #FF0000 url("images/prog_red.png") repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    max-width: 100%;
    height: 24px;
}

div.prog_green {
    background: #008040 url("images/prog_green.png") repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    max-width: 100%;
    height: 24px;
}

span.progress {
    display: inline-block;
    font-size: 18px;
    padding-left: 25px;
}

/* Text donation stats */
p.donation_stats {
    margin-top: 10px;
    font-size: 1.5em;
    text-align: center;
}

/* form displaying */
div.donate_value {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* icon */
.icon-ppde-header {
    background: url("images/icon_donate.gif") 0 50% no-repeat;
}

.rtl .icon-ppde-header {
    background-position: 100% 50%;
}
