/* PayPal Donation
---------------------------------------- */

/* PayPal Button */
#contactpaypal input {
    background: #fffdf8;
    background: -moz-linear-gradient(top, #fffdf8 0%, #fede9e 49%, #ffaf34 50%, #ffeed3 100%);
    background: -webkit-linear-gradient(top, #fffdf8 0%, #fede9e 49%, #ffaf34 50%, #ffeed3 100%);
    background: linear-gradient(to bottom, #fffdf8 0%, #fede9e 49%, #ffaf34 50%, #ffeed3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf8', endColorstr='#ffeed3', GradientType=0);
    border-radius: 13px;
    border: 1px solid #ff9933;
    box-shadow: 0 2px 0 rgba(109, 109, 109, .3);
    color: #294669;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    height: 26px;
    padding: 0 12px;
}

/* image loader */
fieldset.loader {
    display: none;
    height: 28px;
    vertical-align: middle;
}

#processingpaypal img {
    margin-bottom: -5px;
    padding-right: 10px;
    height: 16px;
    width: 16px;
}

/* Progress bar */
div.prog_grey {
    background: #CCCCCC url("images/prog_grey.png") repeat-x;
    border: 1px solid #000000;
    margin-top: 2px;
}

div.prog_red {
    background: #FF0000 url("images/prog_red.png") repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    max-width: 100%;
    height: 24px;
}

div.prog_green {
    background: #008040 url("images/prog_green.png") repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    max-width: 100%;
    height: 24px;
}

span.progress {
    display: inline-block;
    font-size: 18px;
    padding-left: 25px;
}

/* Text donation stats */
p.donation_stats {
    margin-top: 10px;
    text-align: center;
}

/* form displaying */
div.donate_value {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* icon */
.icon-ppde-header {
    background: url("images/icon_donate.gif") 0 50% no-repeat;
}

.icon-ppde-header-donorlist {
    background: url("images/icon_donors.gif") 0 50% no-repeat;
}

.rtl .icon-ppde-header {
    background-position: 100% 50%;
}

.rtl .icon-ppde-header-donorlist {
    background-position: 100% 50%;
}
