<!-- INCLUDE overall_header.html -->

<!-- IF MODE eq 'success' or MODE eq 'cancel' -->
<h2>{SITENAME} :: {L_PPDE_DONATION_TITLE}</h2>
<!-- IF DONATION_BODY -->
<div class="panel">
	<div class="content">
		<div class="inner"><span class="corners-top"><span></span></span>
			{DONATION_BODY}
			<span class="corners-bottom"><span></span></span></div>
	</div>
</div>
<!-- ENDIF -->
<!-- ELSE -->

<!-- IF S_SANDBOX -->
<h2>{L_SANDBOX_TITLE}</h2>
<!-- ELSE -->
<h2>{L_PPDE_DONATION_TITLE_HEAD} {SITENAME}</h2>
<!-- ENDIF -->

<!-- IF DONATION_BODY -->
<div class="panel">
	<div class="content">
		<div class="inner"><span class="corners-top"><span></span></span>
			{DONATION_BODY}
			<span class="corners-bottom"><span></span></span></div>
	</div>
</div>
<!-- ENDIF -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

		<div class="center">
			<form action="{S_PPDE_FORM_ACTION}" method="post">
				<div>
					<p><br /></p>
					<!-- IF PPDE_LIST_VALUE -->
					<select name="amount" id="amount">{PPDE_LIST_VALUE}</select>
					<!-- ELSE -->
					<input type="text" name="amount" class="inputbox autowidth" value="{PPDE_DEFAULT_VALUE}" />
					<!-- ENDIF -->
					<select name="currency_code" id="currency_code">
						<!-- BEGIN options -->
						<option value="{options.CURRENCY_ID}"<!-- IF options.S_CURRENCY_DEFAULT --> selected="selected"<!-- ENDIF -->>{options.CURRENCY_SYMBOL} {options.CURRENCY_ISO_CODE}</option>
						<!-- END options -->
					</select>
				</div>
				<p><br /></p>
				<fieldset class="submit-buttons">
					{S_HIDDEN_FIELDS}
					<div id="contactpaypal">
						<input type="submit" onclick="JavaScript:document.getElementById('contactpaypal').style.display='none';document.getElementById('processingpaypal').style.display='block';" name="submit" value="{L_PPDE_DONATION_TITLE}"><div></div>
					</div>
				</fieldset>
				<p><br /></p>
				<fieldset id="processingpaypal" class="loader submit-buttons">
					<img class="loader" alt="{L_IMG_LOADER}" />
					<input type="submit" class="button1" name="submit" value="{L_PPDE_CONTACT_PAYPAL}" />
				</fieldset>
			</form>
		</div>
		<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF PPDE_GOAL_ENABLE or PPDE_RAISED_ENABLE or PPDE_USED_ENABLE -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- INCLUDE donate_stats.html -->
		<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
