<!-- INCLUDE overall_header.html -->

<!-- IF S_RETURN_ARGS eq 'success' or S_RETURN_ARGS eq 'cancel' -->
	<h2>{SITENAME} :: {L_PPDE_DONATION_TITLE}</h2>
	<!-- IF DONATION_BODY -->
	<div class="panel">
		{DONATION_BODY}
	</div>
	<!-- ENDIF -->
<!-- ELSE -->
	<!-- IF S_SANDBOX -->
		<h2>{L_PPDE_SANDBOX_TITLE}</h2>
	<!-- ELSE -->
		<h2>{L_PPDE_DONATION_TITLE_HEAD} {SITENAME}</h2>
	<!-- ENDIF -->

	<!-- IF DONATION_BODY -->
	<div class="panel">
		{DONATION_BODY}
	</div>
	<!-- ENDIF -->

	<div class="panel">
		<form action="{S_PPDE_FORM_ACTION}" method="post">
			<div class="donate_value">
				<!-- IF PPDE_LIST_VALUE -->
				<select name="amount" id="amount">{PPDE_LIST_VALUE}</select>
				<!-- ELSE -->
				<input type="text" name="amount" class="inputbox autowidth" value="{PPDE_DEFAULT_VALUE}" />
				<!-- ENDIF -->
				<select name="currency_code" id="currency_code">
					<!-- BEGIN options -->
					<option value="{options.CURRENCY_ISO_CODE}"<!-- IF options.S_CURRENCY_DEFAULT --> selected="selected"<!-- ENDIF -->>{options.CURRENCY_SYMBOL} {options.CURRENCY_ISO_CODE}</option>
					<!-- END options -->
				</select>
			</div>
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<div id="paypalbutton">
					<input type="submit" onclick="JavaScript:document.getElementById('paypalbutton').style.display='none';document.getElementById('processingpaypal').style.display='block';" name="submit" value="{L_PPDE_DONATION_BUTTON_TITLE}">
				</div>
				<div id="processingpaypal" class="spinner loading">{L_PPDE_CONTACT_PAYPAL}</div>
			</fieldset>
		</form>
	</div>
	<!-- IF PPDE_GOAL_ENABLE or PPDE_RAISED_ENABLE or PPDE_USED_ENABLE -->
	<div class="panel">
		<!-- INCLUDE donate_stats.html -->
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
