<!-- INCLUDE overall_header.html -->
<h2 class="solo">{L_PPDE_DONORLIST_TITLE}</h2>

<div class="action-bar top">
	<div class="pagination">
		<!-- IF .donorrow -->{TOTAL_DONORS}<!-- ENDIF -->
		<!-- IF .pagination -->
		<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
		<!-- IF .donorrow -->&bull; <!-- ENDIF -->{PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>

<div class="forumbg forumbg-table">
	<div class="inner">
		<table class="table1" cellspacing="1" id="donorlist">
			<thead>
			<tr>
				<th class="name"><a href="{U_SORT_USERNAME}">{L_USERNAME}</a></th>
				<th class="joined"><a href="{U_SORT_AMOUNT}">{L_PPDE_DONORLIST_TOTAL_DONATION}</a></th>
				<th class="joined">{L_PPDE_DONORLIST_LAST_DONATION}</th>
				<th class="active"><a href="{U_SORT_DONATED}">{L_PPDE_DONORLIST_LAST_DATE}</a></th>
			</tr>
			</thead>
			<tbody>
			<!-- BEGIN donorrow -->
			<tr class="<!-- IF donorrow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td>{donorrow.PPDE_DONOR_USERNAME}</td>
				<td>{donorrow.PPDE_TOTAL_DONATED_AMOUNT}</td>
				<td>{donorrow.PPDE_LAST_DONATED_AMOUNT}</td>
				<td>{donorrow.PPDE_LAST_PAYMENT_DATE}</td>
			</tr>
			<!-- BEGINELSE -->
			<tr class="bg1">
				<td colspan="5">{L_PPDE_NO_DONORS}</td>
			</tr>
			<!-- END donorrow -->
			</tbody>
		</table>
	</div>
</div>

<div class="action-bar bottom">
	<div class="pagination">
		<!-- IF .donorrow -->{TOTAL_DONORS}<!-- ENDIF -->
		<!-- IF .pagination -->
		<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
		<!-- IF .donorrow -->&bull; <!-- ENDIF -->{PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
