dt label {
	font-weight: bold;
}

textarea.medium {
	width: 50%;
}

.hasjs .date-fields-container,
.nojs .date-calendar-container {
	display: none;
}

.date-calendar-container {
	cursor: pointer;
}

.date-calendar-container .icon {
	font-size: 16px;
}
