/* PayPal Donation
---------------------------------------- */

/* PayPal Donation page */

.section-app\/donate .content {
	font-size: 1.3em;
}

.section-app\/donate .content ul {
	margin: 0.8em 0 0.9em 3em;
}

/* PayPal Button */
.paypal-button {
	font-size: 14px;
	font-weight: bold;
	background: #ffc439;
	color: #003087;
	border-radius: 1000px;
	padding: 10px 40px;
}

.paypal-button:hover {
	box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
}

/* PayPal loader */
.paypal-loading {
	display: none;
	align-items: center;
	gap: 0.5em;
}

.paypal-loading .fa-stack {
	color: #0070e0;
}

.submit-buttons:has(.paypal-loading) {
	min-height: 48px;
}

/* Progress bar */
.progress {
	--ppdeHeight: clamp(16px, 2vw, 26px);
	--ppdeRadius: 10px;
	display: flex;
	gap: 6px;
}

.rtl {
	--lg45: 45deg;
}

.progress-value {
	flex: 0 0 8ch;
	font-size: 12px;
	font-weight: bold;
	border-radius: var(--ppdeRadius);
	padding: 1px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-grey {
	background: #333333;
	background: linear-gradient(to bottom, #333333 0%, #666666 100%);
	border-radius: var(--ppdeRadius);
	box-shadow: 0 2px 0 rgba(109, 109, 109, 0.3);
	flex: 1;
	overflow: auto;
}

.progress-color {
	--ppdeBgSaturation: 100%;
	--ppdeBgLightness: 40%;
	--ppdeWidth: min(calc(var(--progval) * 1%), 100%);
	--ppdeBgColor: hsl(var(--ppdeBgHue, var(--progval, 100)), var(--ppdeBgSaturation), var(--ppdeBgLightness));
	border-radius: var(--ppdeRadius, 10px);
	box-shadow:
			inset 0 10px 10px rgba(255, 255, 255, 0.3),
			inset 0 -10px 10px rgba(0, 0, 0, 0.5);
	position: relative;
	height: var(--ppdeHeight, 20px);
	width: var(--ppdeWidth);
	background-color: var(--ppdeBgColor);
	overflow: hidden;
	animation: ppdeProgress 2s;
}

.progress-used {
	--ppdeBgHue: calc(100 - min(var(--progval), 100));
	--ppdeHueFrom: 100;
}

@media (prefers-reduced-motion) {
	.progress-color {
		animation: none;
	}
}

@keyframes ppdeProgress {
	from {
		width: 0;
		background-color: hsl(var(--ppdeHueFrom, 0), var(--ppdeBgSaturation), var(--ppdeBgLightness));
	}

	to {
		width: var(--ppdeWidth);
		background-color: var(--ppdeBgColor);
	}
}

.progress-color:before {
	background-image: linear-gradient(var(--lg45, -45deg), rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size: var(--ppdeHeight) var(--ppdeHeight);
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

/* Text donation stats */
.donation-stats {
	text-align: center;
	margin-top: 10px;
}

/* form displaying */
.donation-value {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
