/* PayPal Donation
---------------------------------------- */

/* PayPal Donation page */

.section-app\/donate .content {
	font-size: 1.3em;
}

.section-app\/donate .content ul {
	margin: 0.8em 0 0.9em 3em;
}

/* PayPal Button */
.paypalbutton {
	font-size: 14px;
	font-weight: bold;
	background: #ffc439;
	color: #003087;
	border-radius: 1000px;
	padding: 10px 40px;
}

.paypalbutton:hover {
	box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
}

/* PayPal loader */
.spinner.loading {
	display: none;
	padding: 7px 0 6px;
}

.spinner.loading:before {
	border: 6px solid #cccccc;
	border-top-color: #2180c0;
	border-radius: 100%;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -35px;
	content: "";
	animation: paypal_loader 0.7s infinite linear;
}

@keyframes paypal_loader {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

/* Progress bar */
.progress {
	--ppdeHeight: clamp(16px, 2vw, 26px);
	--ppdeRadius: 10px;
	display: flex;
	gap: 6px;
}

.rtl {
	--lg45: 45deg;
}

.progress-value {
	flex: 0 0 8ch;
	font-size: 12px;
	font-weight: bold;
	border-radius: var(--ppdeRadius);
	padding: 1px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-grey {
	background: #333333;
	background: linear-gradient(to bottom, #333333 0%, #666666 100%);
	border-radius: var(--ppdeRadius);
	box-shadow: 0 2px 0 rgba(109, 109, 109, 0.3);
	flex: 1;
	overflow: auto;
}

.progress-color {
	border-radius: var(--ppdeRadius);
	box-shadow:
		inset 0 10px 10px rgba(255, 255, 255, 0.3),
		inset 0 -10px 10px rgba(0, 0, 0, 0.5);
	position: relative;
	height: var(--ppdeHeight);
	width: min(calc(var(--progval) * 1%), 100%);
	background-color: hsl(min(calc(var(--progval)), 100), 100%, 40%);
	overflow: auto;
}

.progress-used {
	background-color: hsl(min(calc(100 - min(var(--progval), 100)), 100), 100%, 40%);
}

.progress-color:before {
	background-image: linear-gradient(var(--lg45, -45deg), rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size: var(--ppdeHeight) var(--ppdeHeight);
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

/* Text donation stats */
.donation_stats {
	text-align: center;
	margin-top: 10px;
}

/* form displaying */
.donate_value {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
