{% if S_PPDE_LINK_ENABLED %}
	<li>
		<a href="{{ U_PPDE_DONATE }}" rel="help" title="{{ lang('PPDE_HEADER_LINK_TITLE') }}" role="menuitem">
			{{ Icon('iconify', 'fa:paypal', lang('PPDE_HEADER_LINK_TITLE'), false) }}
		</a>
	</li>
{% endif %}
{% if S_PPDE_LINK_DONORLIST_ENABLED %}
	<li>
		<a href="{{ U_PPDE_DONORLIST }}" rel="help" title="{{ lang('PPDE_HEADER_DONORLIST_LINK_TITLE') }}" role="menuitem">
			{{ Icon('iconify', 'fa:users', lang('PPDE_HEADER_DONORLIST_LINK_TITLE'), false) }}
		</a>
	</li>
{% endif %}
