{% if PPDE_STATS_INDEX_ENABLE %}
<h3>{{ lang('PPDE_INDEX_STATISTICS_TITLE') }}{% if U_PPDE_DONATE %} &bull; <a href="{{ U_PPDE_DONATE }}">{{ lang('PPDE_HEADER_LINK_TITLE') }}</a>{% endif %}</h3>
{% else %}
<h3>{{ lang('PPDE_INDEX_STATISTICS_TITLE') }}</h3>
{% endif %}

{% macro progress_bar(val, css_val, extra_classes) %}
<div class="progress">
	<div class="progress-value bg3">{{ val }} %</div>
	<div class="progress-grey">
		<div class="progress-color{{ extra_classes|default('') }}" style="--progval: {{ css_val }};"></div>
	</div>
</div>
{% endmacro %}

{% if S_GOAL_NUMBER && not S_PPDE_STATS_TEXT_ONLY %}
	{{ _self.progress_bar(PPDE_GOAL_NUMBER, PPDE_GOAL_NUMBER_CSS) }}
{% endif %}

<p class="donation-stats">
	{% if PPDE_RAISED_ENABLE %}
	{{ lang('PPDE_RAISED') }}{% if PPDE_USED_ENABLE %}<br>{% endif %}
	{% endif %}
	{% if PPDE_GOAL_ENABLE %}
	{{ lang('PPDE_GOAL') }}<br>
	{% endif %}

	{% if S_USED_NUMBER %}
</p>

{% if not S_PPDE_STATS_TEXT_ONLY %}
	{{ _self.progress_bar(PPDE_USED_NUMBER, PPDE_USED_NUMBER_CSS, ' progress-used') }}
{% endif %}

<p class="donation-stats">
	{% endif %}

	{% if PPDE_USED_ENABLE %}
	{{ lang('PPDE_USED') }}
	{% endif %}
</p>
