{% if PPDE_STATS_INDEX_ENABLE %}
<h3>{{ lang('PPDE_INDEX_STATISTICS_TITLE') }}{% if U_PPDE_DONATE %} &bull; <a href="{{ U_PPDE_DONATE }}">{{ lang('PPDE_HEADER_LINK_TITLE') }}</a>{% endif %}</h3>
{% else %}
<h3>{{ lang('PPDE_INDEX_STATISTICS_TITLE') }}</h3>
{% endif %}

{% if S_GOAL_NUMBER && not S_PPDE_STATS_TEXT_ONLY %}
<div class="progress">
	<div class="progress-value bg3">{{ PPDE_GOAL_NUMBER }} %</div>
	<div class="progress-grey">
		<div class="prog-color {{ PPDE_CSS_GOAL_NUMBER }}" style="width: {{ PPDE_GOAL_NUMBER }}%;"></div>
	</div>
</div>
{% endif %}

<p class="donation_stats">
	{% if PPDE_RAISED_ENABLE %}
	{{ lang('PPDE_RAISED') }}{% if PPDE_USED_ENABLE %}<br>{% endif %}
	{% endif %}
	{% if PPDE_GOAL_ENABLE %}
	{{ lang('PPDE_GOAL') }}<br>
	{% endif %}

	{% if S_USED_NUMBER %}
</p>

{% if not S_PPDE_STATS_TEXT_ONLY %}
<div class="progress">
	<div class="progress-value bg3">{{ PPDE_USED_NUMBER }} %</div>
	<div class="progress-grey">
		<div class="prog-color {{ PPDE_CSS_USED_NUMBER }}" style="width: {{ PPDE_USED_NUMBER }}%;"></div>
	</div>
</div>
{% endif %}

<p class="donation_stats">
	{% endif %}

	{% if PPDE_USED_ENABLE %}
	{{ lang('PPDE_USED') }}
	{% endif %}
</p>
